# filepath: /Users/teddy/workspace/Node-Projects/Next-Projects/resersis-nb/fly.toml
app = 'resersis-frontend'
primary_region = 'iad'

[build]

[env]
  NEXT_TELEMETRY_DISABLED = '1'
  NODE_ENV = 'production'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1